.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.status {
  margin-left: 4rem;
}

:global(.ui.mini.tag.label) {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

:global(.ui.mini.tag.label.icon) {
  margin: 0;
}

:global(.ui.mini.tag.label).toggleBtn {
  background-color: black;
  &:hover {
    background-color: rgb(61, 61, 61);
  }
}
